// Colors
$primary: radial-gradient(#a1c4fd,#c2e9fb);
$primary-hover: radial-gradient(#96deda,#50c9c3);
$secondary: radial-gradient(#48c6ef,#537895);
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$color1: radial-gradient(#667eea,#764ba2); //Set later on as Background color
$color2: radial-gradient(#feada6, #f5efef);
$color3: radial-gradient(#434343,#000000);
$color4: radial-gradient(#ff758c,#ff7eb3);
$color5: radial-gradient(#ebb678,#C8553D);
$colorP: #593e67;


// Transition
$smooth: all .5s ease-in-out;